* {
    box-sizing: border-box;
    margin: 0;
  }
  body{
    font-family: Lato;
  }
  #showcase {
    background-image: url("home-bg.jpeg");
    background-position: center;
    height: 500px;
    width: 100%;
  }
  .main-headder {
    background-color: #fc997c;
    padding: 8px 16px;
  }
  .main-nav {
    display: inline-block;
    width: calc(100% - 102px);
    text-align: right;
    font-family: 'Roboto', sans-serif;
  }
  .main-nav_item {
    display: inline-block;
    margin: 0 8px;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
  .main-headder a:hover,
  .main-nav_item:hover::before {
    color: #2e4c6d;
  }
  .main-nav_item:active::before,
  .main-headder a:active {
    color: white;
  }
  .main-headder__logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
  }
  .main-nav_item::before {
    content: "\2022";
    color: white;
    font-size: 20px;
  }
  .main-nav__item__login a {
    color: white;
    background-color: #2e4c6d;
    padding: 4px 16px;
    border-radius: 10px;
    border: 2px solid white;
  }
  .main-nav__item__login a:hover {
    color: #2e4c6d;
    border: 4px solid #2e4c6d;
    background-color: white;
  }
  .main-nav__item__login::before {
    content: none;
  }
  #how-it-works {
    padding: 10px;
    text-align: center;
  }
  #how-it-works h2{
    color: #3e4555;
    font-size: 30px;
    font-weight: 600;
    margin: 15px;
  }
  .row{
    margin-bottom: 40px;
  }
  .col{
    display: inline-block;
    width: 30%;
    padding: 16px;
    margin: 8px;
  }
  .icon-box h3{
    color:#3e4555 ;
    font-size: 26px;
    margin: 15px;
  }
  .icon-box i {
    color:#fc997c ;
  }
  .col2{
    display: inline-block;
    width: calc(50% - 2px);
    height: 350px;
    background-color: brown ;
    vertical-align: top;
  }
  .features__left{
    background-image: url("features.jpeg");
    background-size: cover;
    background-position: top center;
  }
  .features__right{
    background-color: #edf5f7;
    padding: 100px 50px 100px 30px;
    vertical-align: top;
  }
  .features__right h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  #features a{
    background-color: #fc997c;
    color: #fff;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fc997c;
    border-radius: 5px;
  }
  #features a:hover{
    border: 1px solid #fc997c;
    color: #fc997c;
    background-color: #fff;
  }
  #features p{
    margin-bottom: 20px;
  }